body{
  background: url("images/background.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  color: #f2e8af;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

button{
  font-size: 2em;
  color: black;
  background-color: #f2e8af;
  border: none;
  font-weight: bold;
  margin: 0 1em 1em 1em;
}
button:hover{
  color: #f2e8af;
  background-color: transparent;
  cursor: pointer;
}

h1{
  font-size: 4em;
  margin-top: 0;
}
h2{
  font-size: 2em;
}

table{
  border-collapse: collapse;
}
th{
  text-align: left;
  padding: 0.5em 1em;
}
td{
  text-align: left;
  padding: 0.1em 1em;
}

.points, .total{
  opacity: 0;
}
.total{
  padding: 0.5em 1em;
}

#container{
  display: flex;
  justify-content: center;
}
#player1-bar{
  flex: 1 1;
  order: 1;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 5% 0 5% 5%;
  padding: 1em;
  opacity: 0;
}
#main{
  flex: 2 2;
  order: 2;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 5% 1%;
  padding: 1em;
}
#player2-bar{
  flex: 1 1;
  order: 3;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 5% 5% 5% 0;
  padding: 1em;
  opacity: 0;
}

#welcome, 
#selectMovie, 
#wait, 
#poster, 
#search,
#after-game,
#final-score
{
  display: none;
}

#search-bar{
  width: 95%;
  font-size: 2em;
  margin-bottom: 1em;
}
#start-timer, #game-timer{
  font-size: 6em;
  margin: 0 auto;
}
#poster-img{
  margin-bottom: 2em;
}